<div class="top_nav">
    <nav>
        <ul>
          <li><a href="">Dietular</a></li>
          <li>plan for a better tomorrow</li>
          <li class="split"><a href="#">Calendar</a></li>
          <li class="split"><a routerLink="/item-list-component" >Items</a>
          </li>
          <li class="split"><a >Meals</a></li>
          <div class="dropdown">
            <li ><button class="dropbtn">+</button></li>
            <div class="dropdown-content">
                <a href="#">New meal</a>
                <a href="#">New item</a>
                <a href="#">New allergen</a>
            </div>
          </div>
        </ul>
    </nav>
  </div>
