<div class="main-container">
  <h1>Add item</h1>
  <div class="form-container">
    <form [formGroup]="formModel" (ngSubmit)="submitForm()">
      <div class="form-thing">
        <label class="label">Name</label>
        <input type="text" class="title" formControlName="name" placeholder="Nazwa">
      </div>

      <div class="form-thing">
        <label class="label">Description</label>
        <input type="text" class="description" formControlName="desc" placeholder="Opis">
      </div>

      <div class="form-thing">
        <label class="label">Weight</label>
        <input type="number" min="0" class="weight" placeholder="Waga (g)" formControlName="weight">
      </div>

      <div class="form-thing">
        <label class="label">Calories</label>
        <input type="number" class="calories" placeholder="Kalorie (kCal)" formControlName="cal">
      </div>

      <div class="form-thing">
        <label class="label">Carbohydrates</label>
        <input type="number" class="carbs" placeholder="Węglowodany (g)" formControlName="carbs">
      </div>

      <div class="form-thing">
        <label class="label">Protein</label>
        <input type="number" min="0" class="protein" placeholder="Białka (g)" formControlName="protein">
      </div>

      <div class="form-thing">
        <label class="label">Fats</label>
        <input type="number" min="0" class="fats" placeholder="Tłuszcze (g)" formControlName="fats">
      </div>

      <div class="form-thing"><label for="allergens" class="label" >Allergens:</label>
        <select class="allergen" multiple formControlName="allergens">
          @for(alle of allergens; track $index) {
            <option value="allergen-val">{{alle.name}}</option>
          }
        </select>
      </div>

      <div class="form-thing">
        <input [disabled]="!formModel.valid" type="submit" value="Add item" class="btn-view">
      </div>
    </form>
  </div>
</div>
