<div class="main-container">
    <h1>Allergen list</h1>
  
      <ul>
        <div class="list-container">
          @for (allergen of allergens; track $index) {
            <li class="list-allergen-container">
              <p class="name">{{allergen.name}}</p>
              <button class="btn-view2" (click)="ShowConfirmation(allergen.id)"> Delete </button>
         
              @if(checkerfordelete === allergen.id) 
              {
                 <p><strong>Are you sure you want to delete {{allergen.name}}?</strong></p>
                 <button class="btn-view2" (click)="Delete(allergen.id)">Yes</button>
                 <button class="btn-view" (click)="Undo()">No</button>
              }
             
            </li>
          }
        </div>
      </ul>
  </div>
